* {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: #fbe4d8;
}

html {
    scroll-behavior: smooth;
}


body {
    position: relative;
    padding-top: 50px;
    height:150vh;
    background: linear-gradient(to bottom, #5c1d3d, #852e4e, #a33757,#dc586d, #fb9590, #ffbb94);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}

/* MENUBAR SECTION */
.menubar {
    display: flex;
    justify-content: flex-end;
    position: fixed;
    top:0;
    width:100%;
    left: 0;
    height: 50px;
    gap: 40px;
    padding-right: 40px;
    align-items: center;
    background-attachment: fixed;
    background: linear-gradient(to bottom, #5c1d3d, #682342);
    z-index: 999;

}

.menubar p {
    width:5%;
}

.menubar a {
    position: sticky;
    text-decoration: none;
    text-align:center;
    padding:12px;
    z-index: 0;
    
}

.menubar a span {
    position: relative;
    z-index: 1;
}

.menubar a::before {
    content: '';
    position: absolute;
    inset: 0;
    background: linear-gradient(to bottom, #743e59, #8a5065);
    border-radius: 12%;
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
    z-index: 0;
}

.menubar a:hover::before{
    opacity:1;
}

section {
    max-height: 100vh;
}

.tab {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;

}

/* HOME SECTION */
#home > h1 {
    position: absolute;
    top:275px;
    left:33%;
    font-size:64px;
    line-height: 1.52;
}

#pfp {
    position: absolute;
    border-radius: 50%;
    width: 20%;
    top: 275px;
    left: 10%;
}

#home > h3 {
    position:absolute;
    font-size:40px;
    top:325px;
    left:84%;
}

#home > p {
    position:absolute;
    font-size: 24px;
    width:35%;
    top:400px;
    left: 55%;
    text-align:right;

}

/* ABOUT SECTION */
#about {
    top: 100%;
    height:100vh;
}

#about > h3 {
    position:absolute;
    font-size:40px;
    top:250px;
    left:15%;
}

#stub-2 {
    position: absolute;
    border-radius: 50%;
    width: 20%;
    top: 200px;
    left: 65%;
}

#about > p {
    position:absolute;
    font-size: 24px;
    width:35%;
    top:325px;
    left: 15%;
    text-align:left;

}

/* PROJECT SECTION */
#proj {
    top: 200%;
    height:100vh;
}


#proj > h3 {
    position:absolute;
    font-size:40px;
    top:150px;
    left:25%;
}

.projects a {
    white-space: nowrap;
    text-decoration: none;
    text-align:center;
    font-size: 32px;
    padding: 120px 120px;
    background-color: rgba(255, 255, 255, 0.15);
    border: 4px solid #fbe4d8; 
    border-radius: 6%;
    transition:
        background-color 0.3s ease,
        transform 0.3s ease;
        
    
}

.projects a:hover {
    background-color: rgba(255, 255, 255, 0.4);
    transform: scale(1.02);

}

#row-1 {
    margin-top: 250px;
}

#row-2 {
    margin-top: 50px;
}

.proj-row {
    display: flex;
    justify-content: center;
}

.projects {
    display:flex;
    gap:100px;
    justify-content:center;
    align-items:center;
    text-align:center;
}



/* CONTACT SECTION */
#contact {
    top: 300%;
    height:100vh;
}

#contact > h3 {
    position:absolute;
    font-size:40px;
    top:150px;
    left:25%;
}



.ctc input, 
.ctc textarea{
    padding-left: 15px;
    height: 60px;
    width: 400px;
    font-size: 28px;
    background-color: rgba(255, 255, 255, 0.15);
    outline: none;
    border: 4px solid #fbe4d8; 
    border-radius: 6%;

    transition: background-color 0.2s ease;
}

.ctc input::placeholder,
.ctc textarea::placeholder{
    color: #fbe4d8;
}

.ctc input:hover,
.ctc input:focus,
.ctc textarea:hover,
.ctc textarea:focus{
    background-color: rgba(255, 255, 255, 0.4);
}




#c1 {
    position: absolute;
    top: 250px;
    left: 23%;
}

#c2 {
    position: absolute;
    top: 250px;
    left: 50%;
}

#c3 {
    position: absolute;
    top: 375px;
    left: 23%;
}

#c4 {
    position: absolute;
    top: 375px;
    left: 50%;
}

#c5 {
    position: absolute;
    top: 500px;
    left: 23%;
    width: 48%;
    height: 20%;
}

#c6 {
    position:absolute;
    top:725px;
    font-size: 20px;
    left:55%;
    width:250px;
    background-color: rgba(255, 255, 255, 0.15);
    outline: none;
    border: 4px solid #fbe4d8; 
    border-radius: 6%;

    transition: background-color 2s ease-in-out;
}

#c6:hover {
    background-color:rgba(255, 255, 255, 0.60);
}





